#blocksTreeView {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}